{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" id="bootstrap-css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/chatroom.css' %}">
<style>
    #roomSelect {
        height: 300px;
    }
</style>

<!-- placeholder chat_homepage file -->   
    <div class="container">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                  <div class="headind_srch">
                    <div class="recent_heading">
                      <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                      <div class="stylish-input-group">
                        <input type="text" class="search-bar"  placeholder="Search" >
                        <span class="input-group-addon">
                        <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                        </span> </div>
                    </div>
                  </div>
                  <div class="inbox_chat">
                  {% for room in rooms %}
                    <div class="chat_list active_chat" id="{{ room }}">
                      <div class="chat_people">
                        <div class="chat_img"> <img src="{% static 'images/organize_image_0.png' %}" alt="TestOrg"> </div>
                        <div class="chat_ib">
                          <h5>{{ room.name }}</h5>
                          <p>{{room.message_set.first}}</p>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  </div>
                </div>

                <div class="mesgs">
                    <div class="col-12 col-md-8">
                        <div class="mb-2">
                            <label for="roomInput">Enter a room name to connect to it:</label>
                            <input type="text" class="form-control" id="roomInput" placeholder="Room name" required>
                            <span id="room-error" class="small" style="color:red"></span>
                            <small id="roomInputHelp" class="form-text text-muted">If the room doesn't exist yet, it will be created for you.</small>
                        </div>
                        <button type="button" id="roomConnect" class="btn btn-success">Connect</button>
                    </div>
                </div>
            </div>

            
        <p class="text-center top_spac"> Copyright &copy 2023 VolunCheer, org.  All Rights Reserved.</p>

        </div>
    </div>
    <script src="{% static 'admin/js/chat_homepage.js' %}"></script>
{% endblock %}