{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/chatroom.css' %}">
<!-- placeholder room file -->
<style>

    #onlineUsersSelector {
        height: 300px;
    }
</style>

        <div class="container">
            <div class="messaging">
                <div class="inbox_msg">
                    <div class="inbox_people">
                      <div class="headind_srch">
                        <div class="recent_heading">
                          <h4>Recent</h4>
                        </div>
                        <div class="srch_bar">
                          <div class="stylish-input-group">
                            <input type="text" class="search-bar"  placeholder="Search" >
                            <span class="input-group-addon">
                            <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span> </div>
                        </div>
                      </div>
                      <div class="inbox_chat">
                      {% for room in rooms %}
                        <div class="chat_list active_chat" id="{{ room.name }}">
                          <div class="chat_people">
                            <div class="chat_img"> <img src="{% static 'images/organize_image_0.png' %}" alt="TestOrg"> </div>
                            <div class="chat_ib">
                              <h5>{{ room.name }}</h5>
                              <p>{{room.message_set.first}}</p>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                      </div>
                    </div>
    
                    <div class="mesgs">
                        <div class="msg_history" id="msg_history">
                            <div class="incoming_msg">
                              <div class="received_msg">
                                <div class="received_withd_msg">
                                  <p>You are now in chatroom: {{ room }}</p>
                                </div>
                              </div>
                            </div>
                            {% for msg in message %}
                            <div class="incoming_msg">
                              {% if msg.volunteer %}
                                {% if msg.volunteer.photo %}
                                <div class="incoming_msg_img"> <img src="{{ msg.volunteer.photo.url }}" alt="{{ msg.volunteer }}"> </div>
                                {% endif %}
                              {% endif %}
                              {% if msg.organization %}
                                {% if msg.organization.photo %}
                                <div class="incoming_msg_img"> <img src="{{ msg.organization.photo.url }}" alt="{{ msg.organization }}"> </div>
                                {% endif %}
                              {% endif %}
                              <div class="received_msg">
                                <div class="received_withd_msg">
                                  <p>{{ msg.content }}</p>
                                  <span class="time_date">{{ msg.timestamp }}</span></div>
                              </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" id="chatMessageInput" placeholder="Enter your chat message">
                            <div class="input-group-append">
                                <button class="btn btn-success" id="chatMessageSend" type="button" onclick="sendChatMsg()">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- <div class="row">
                    <div class="col-12 col-md-4">
                        <label for="onlineUsers">Online users</label>
                        <select multiple class="form-control" id="onlineUsersSelector">
                        </select>
                    </div>
                </div> -->
                {{ room|json_script:"roomName" }}
                {{ user.pk|json_script:"userPK" }}
                {{ volunteer.photo.url|json_script:"volunteerJson" }}
                {{ organization.photo.url|json_script:"organizationJson" }}

            <p class="text-center top_spac"> Copyright &copy 2023 VolunCheer, org.  All Rights Reserved.</p>
    
            </div>
        </div>

<script src="{% static 'admin/js/room.js' %}"></script>

{% endblock %}