{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% if user.is_organization %}
    <!-- Sidenav -->
    <div class="sidenav">
        <div class="profile">
            <img src="{% static organization.organization_image %}" alt="" width="100" height="100"/>
            <div class="name">
                {{ organization.name }}
            </div>
            <div class="email">
                {{ user.email }}
            </div>
            <hr align="center">
            <div class="self-description">
                <p>{{ organization.description }}</p>
            </div>
        </div>
        <div class="sidenav-url">
            <div class="url">
                <a href="{% url 'post_a_job' %}" class="active">POST A JOB</a>
                <hr align="center">
            </div>
            <div class="url">
                <a href="#settings">IMPACT</a>
                <hr align="center">
            </div>
        </div>
    </div>
    <!-- End -->

    <!-- Main -->
    <div class="main">
        <h2>ABOUT US</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit" onclick="EditProfile()"></i>
                    <div class="edit-form" id="edit-form-view">
                        <tr>
                        Name:
                        <input type="text" value="{{ organization.name }}" contenteditable="false">
                        </tr>
                        <tr>
                        Website:
                        <a href="https://{{ organization.website }}"><input type="text" value="{{ organization.website }}" contenteditable="false"></a>
                        </tr>
                    </div>
                    <form method="post" class="edit-form" id="edit-form-edit" action="{% url 'profile_update' %}">
                        {% csrf_token %}
                        {{ user_form }}
                        <button type="submit" id="edit-form-edit-btn" class="edit-form">Submit</button>
                    </form>
            </div>
        </div>

        <h2>POSTED JOBS</h2>
        <div class="card">
            {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {% for job in job_lists %}
                    <article>
					    <a href="#"><img src="{% static job.job_image %}" alt="" class="vol-position-image" width="275px"/></a>
					    <p class="vol-position-disciption-h1">{{ job.title }}</p>
                        <p class="vol-position-disciption-h3">{{ job.pubdate }}</p>
                        <p class="vol-position-disciption-h2">{{ job.address_1 }}</p>
                        <p class="vol-position-disciption-h2">{{ job.description }}</p>
                        <div class="url"><a href="#" class="readmore">Connect</a></div>
                        <hr align="center">
				    </article>
                {% endfor %}
        </div>
    </div>
    <!-- End -->

  </div>



  {% elif user.is_volunteer %}
  </div>
    <!-- Side Nav -->
    <div class="sidenav">
        <div class="profile">
            <img src="{% static volunteer.user_image %}" alt="" width="100" height="100"/>
            <div class="name">
                {{ volunteer.first_name }}, {{ volunteer.last_name }}
            </div>
            <div class="email">
                {{ user.email }}
            </div>
            <hr align="center">
            <div class="self-description">
                <p>{{ volunteer.description }}</p>
            </div>
        </div>

        <div class="sidenav-url">
            <div class="url">
                <a href="#profile" class="active">PROFILE</a>
                <hr align="center">
            </div>
            <div class="url">
                <a href="#settings">SETTINGS</a>
                <hr align="center">
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="main">
        <h2>ABOUT ME</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit" onclick="EditProfile()"></i>
                    <div class="edit-form" id="edit-form-view">
                        <tr>
                        First name:
                        <input type="text" value="{{ volunteer.first_name }}" contenteditable="false">
                        </tr>
                        <tr>
                        Last name:
                        <input type="text" value="{{ volunteer.last_name }}" contenteditable="false">
                        </tr>
                        <tr>
                        Date of birth:
                        <input type="text" value="{{ volunteer.date_of_birth }}" contenteditable="false">
                        </tr>
                    </div>
                    <form method="post" class="edit-form" id="edit-form-edit" action="{% url 'profile_update' %}">
                        {% csrf_token %}
                        {{ user_form }}
                        <button type="submit" id="edit-form-edit-btn" class="edit-form">Submit</button>
                    </form>
            </div>
        </div>

        <h2>MY BADGES</h2>
        <div class="card">
            <div class="profile-badge">
                {% csrf_token %}
                {% for badge in badge_urls %}
                <span class="fa-stack fa-sm">
                    <img src="../../static/{{ badge }}" alt="" width="78px" height="78px"/>
                </span>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End -->
  {% endif %}
{% endblock %}
