{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_volunteer %}
  </div>
    <!-- Side Nav -->
    <div class="sidenav">
        <div class="profile">
            {% if volunteer.photo %}
                <img src="{{volunteer.photo.url}}" alt="profile pic" width="100" height="100"/>
            {% endif %}
            <div class="name">
                {{ volunteer.first_name }}, {{ volunteer.last_name }}
            </div>
            <div class="email">
                {{ user.email }}
            </div>
            <hr align="center">
            <div class="self-description">
                <p>{{ volunteer.description }}</p>
            </div>
        </div>

        <div class="sidenav-url">
            <div class="url">
                <a href="{% url 'home' %}" >PROFILE</a>
                <hr align="center">
            </div>
            <div class="url">
                <a class="not-implemented-yet" href="#">SETTINGS</a>
                <hr align="center">
            </div>
            <div class="url">
                <a href="{% url 'saved_events' %}" class="active">MY VOLUNCHEERS</a>
                <hr align="center">
            </div>
            <div class="url">
                <a href="{% url 'create_post' %}" >CREATE POST</a>
                <hr align="center">
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="main">
        <h2>UPCOMING EVENTS</h2>
        <div class="card">
            {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {% for opportunity in opportunity_selected %}
                    
                    <article>
                        {% if opportunity.photo %}
					    <a href="#"><img src="{{opportunity.photo.url}}" alt="" class="vol-position-image" width="275px"/></a>
                        {% endif %}
					    <p class="vol-position-description-h1">{{ opportunity.title }}</p>
                        {%if user.is_volunteer%}
                        <p class="vol-position-description-h3">
                            Published by: <a href="{%url 'organization_view' opportunity.organization.pk%}">{{ opportunity.organization }}</a>
                        </p>
                        {%endif%}
                        <p class="vol-position-description-h3">Pubdate: {{ opportunity.pubdate }}</p>
                        <p class="vol-position-description-h2">Address: {{ opportunity.address_1 }}</p>
                        <p class="vol-position-description-h2">Date: {{ opportunity.date }}</p>
                        <p class="vol-position-description-h2">End: {{ opportunity.end }}</p>
                        <p class="vol-position-description-h2">{{ opportunity.description }}</p>
                        <div class="url"><a href="{% url 'deregister_volunteer' opportunity.pk %}" class="readmore">Not Interested Anymore</a></div>
                        <hr align="center">
				    </article>
                {% endfor %}
        </div>
        
        <h2>MY VOLUNCHEER FOOTPRINTS</h2>
        <div class="card">
            {% for opportunity in opportunity_attended %}
                <article>
				    <p class="vol-position-description-h1">{{ opportunity.title }}</p>
                    <p class="vol-position-description-h2">Address: {{ opportunity.address_1 }}</p>
                    <p class="vol-position-description-h2">Hours: {{ opportunity.date }}</p>
                    <p class="vol-position-description-h2">End: {{ opportunity.end }}</p>
                    <p class="vol-position-description-h2">{{ opportunity.description }}</p>
                    <hr align="center">
				</article>
            {% endfor %}
        </div>
    </div>
    <!-- End -->
  {% endif %}
  <script type="text/javascript" src="{% static 'js/jquery_appendix.js' %}"></script>
{% endblock %}
