<!DOCTYPE html>
<html lang="en">

<head>
  <title>Simple Map</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
  <script type="module" src="{% static 'js/map.js' %}"></script>
</head>

<body>
  <div class="container">
    <img src="{% static 'images/voluncheer_logo.png' %}" alt="logo" class="logo title" height="80px">
    <div id="map"></div>
    <p class="text-center top_spac"> Copyright &copy 2023 VolunCheer, org. All Rights Reserved.</p>
  </div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap&v=weekly"></script>
</body>

</html>