<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>

    <!-- Custom Css -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
    {% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <!-- Navbar top -->
    <div class="navbar-top">
        <div class="title">
            <img src="{% static 'images/voluncheer_logo.png' %}" alt="logo" class="logo" height="80px">
        </div>

        <!-- Navbar -->
        <ul>
            <li>
                <a href="#message">
                    <span class="icon-count">29</span>
                    <i class="fa fa-envelope fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="#notification">
                    <span class="icon-count">59</span>
                    <i class="fa fa-bell fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="#sign-out">
                    <i class="fa fa-sign-out-alt fa-2x"></i>
                </a>
            </li>
        </ul>
        <!-- End -->
    </div>
    <!-- End -->

    <!-- Sidenav -->
    <div class="sidenav">
        <div class="profile">
            <img src="{% static user_profile.user_image %}" alt="" width="100" height="100"/>
            <div class="name">
                {{ user_profile.user_name }}
            </div>
            <div class="job">
                {{ user_profile.user_email }}
            </div>
        </div>

        <div class="sidenav-url">
            <div class="url">
                <a href="#profile" class="active">PROFILE</a>
                <hr align="center">
            </div>
            <div class="url">
                <a href="#settings">SETTINGS</a>
                <hr align="center">
            </div>
        </div>
    </div>
    <!-- End -->

    <!-- Main -->
    <div class="main">
        <h2>ABOUT ME</h2>
        <div class="card">
            <div class="card-body">
{#                <i class="fa fa-pen fa-xs edit"></i>#}
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>{{ user_profile.user_name }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>{{ user_profile.user_email }}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td>{{ user_profile.user_address_city }}</td>
                        </tr>
                        <tr>
                            <td>Skills</td>
                            <td>:</td>
                            <td>{{ user_profile.user_skill }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h2>MY BADGES</h2>
        <div class="card">
            <div class="badge">
                {% csrf_token %}
                {% for badge in badge_urls %}
                <span class="fa-stack fa-sm">
                    <img src="../../static/{{ badge }}" alt="" width="78px" height="78px"/>
                </span>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End -->

{#<h2>SOCIAL MEDIA</h2>#}
{#        <div class="card">#}
{#            <div class="card-body">#}
{#                <i class="fa fa-pen fa-xs edit"></i>#}
{#                <div class="social-media">#}
{#                    <span class="fa-stack fa-sm">#}
{#                        <i class="fas fa-circle fa-stack-2x"></i>#}
{#                        <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>#}
{#                    </span>#}
{#                    <span class="fa-stack fa-sm">#}
{#                        <i class="fas fa-circle fa-stack-2x"></i>#}
{#                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>#}
{#                    </span>#}
{#                    <span class="fa-stack fa-sm">#}
{#                        <i class="fas fa-circle fa-stack-2x"></i>#}
{#                        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>#}
{#                    </span>#}
{#                    <span class="fa-stack fa-sm">#}
{#                        <i class="fas fa-circle fa-stack-2x"></i>#}
{#                        <i class="fab fa-invision fa-stack-1x fa-inverse"></i>#}
{#                    </span>#}
{#                    <span class="fa-stack fa-sm">#}
{#                        <i class="fas fa-circle fa-stack-2x"></i>#}
{#                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>#}
{#                    </span>#}
{#                    <span class="fa-stack fa-sm">#}
{#                        <i class="fas fa-circle fa-stack-2x"></i>#}
{#                        <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>#}
{#                    </span>#}
{#                    <span class="fa-stack fa-sm">#}
{#                        <i class="fas fa-circle fa-stack-2x"></i>#}
{#                        <i class="fab fa-snapchat fa-stack-1x fa-inverse"></i>#}
{#                    </span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</body>
</html>