{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Sidenav -->
<div class="sidenav">
    <div class="profile">
        {% if organization.photo %}
        <img src="{{organization.photo.url}}" alt="profile pic" width="100" height="100" />
        {% endif %}
        <div class="name">
            {{ organization }}
        </div>
        <div class="email">
            {{ user.email }}
        </div>
        <hr align="center">
        <div class="self-description">
            <p>{{ user.description }}</p>
        </div>
    </div>
</div>
<!-- End -->

<!-- Main -->
<div class="main">
    <h2>ABOUT US</h2>
    <div class="card">
        <div class="card-body">
            <div class="edit-form" id="edit-form-view">
                <tr>
                    Name: <input type="text" value="{{ organization.name }}" contenteditable="false">
                </tr>
                <tr>
                    Website: 
                    <a href="https://{{ organization.website }}"><input type="text" value="{{ organization.website }}" contenteditable="false"></a>
                    </a>
                </tr>
            </div>
        </div>
    </div>

    <h2>POSTED OPPORTUNITIES</h2>
    <div class="card">
        {% csrf_token %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for opportunity in opportunity_lists %}
        <article>
            {% if opportunity.photo %}
            <a href="#"><img src="{{opportunity.photo.url}}" alt="" class="vol-position-image" width="275px" /></a>
            {% endif %}
            <p class="vol-position-description-h1">{{ opportunity.title }}</p>
            <p class="vol-position-description-h3">Pubdate: {{ opportunity.pubdate }}</p>
            <p class="vol-position-description-h2">Address: {{ opportunity.address_1 }}</p>
            <p class="vol-position-description-h2">Date: {{ opportunity.date }}</p>
            <p class="vol-position-description-h2">End: {{ opportunity.end }}</p>
            <p class="vol-position-description-h2">{{ opportunity.description }}</p>
            {% if user.is_volunteer %}
                {% if volunteer in opportunity.volunteers.all %}
                <div class="url"><a id="register-opportunity" class="readmore" onclick="toggleButton()">Registered!</a></div>
                {% else %}
                <div class="url"><a href="{% url 'signup_volunteer' opportunity.pk %}" id="register-opportunity" class="readmore" onclick="toggleButton()">
                    Register?
                </a></div>
                {% endif %}
            {% endif %}
            <hr align="center">
        </article>
        {% endfor %}
    </div>
</div>
<script>
    function toggleButton() {
      const button = document.getElementById("register-opportunity");
      var value = button.innerHTML
      if (value == "Register?") {
        alert('You are successfully registered for the event!');
      } else {
        alert('You already registered this event!');
      }
    };
</script>
{% endblock %}