{% load static %}
<div class="sidenav">
  {% if user.is_authenticated %}
    {% if user.is_organization %}
      <div class="profile">
          <img src="{% static organization.logo %}" alt="" width="100" height="100"/>
          <div class="name">
              {{ organization.name }}
          </div>
      </div>
      <div class="sidenav-url">
          <div class="url">
              <a href="#profile">FOLLOW</a>
              <hr align="center">
          </div>
      </div>
    {% endif %}
  {% endif %}
</div>