files:
    /usr/local/bin/archive_opps_script.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /var/app/venv/*/bin/activate
            cd /var/app/current
            export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
            python3 manage.py archive_opportunities

    /etc/cron.d/archive_opps_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            */10 * * * * root /usr/local/bin/archive_opps_script.sh

commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/archive_opps_cron.bak"
    ignoreErrors: true

