files:
    /usr/local/bin/archive_opps_script.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /var/app/venv/*/bin/activate
            python3 /var/app/current/manage.py archive_opportunities

    /etc/cron.d/archive_opps_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            */10 * * * * root /usr/local/bin/archive_opps_script.sh

commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/*.bak"
    ignoreErrors: true