container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  02_pull_data:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py pull_nyc_charities"
    leader_only: true
  03_load_categories:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py load_categories"
    leader_only: true
  04_load_badges:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py load_badge_data"
    leader_only: true
  05_remove_old_archive_cron:
    command: "rm -f /etc/cron.d/archive_opportunities"
  06_create_archive_cron:
    command: "echo '0 0 * * * root source /var/app/venv/*/bin/activate && python3 manage.py archive_opportunities.py' > /etc/cron.d/archive_opportunities"
  07_set_archive_permissions:
    command: "chmod 644 /etc/cron.d/archive_opportunities"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: voluncheer.settings
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: voluncheer.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
